@import "tailwindcss";

:root {
  --background: #f0f1f2;
  --foreground: #292a2e;
  --sidebar: #dddee1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-sans: var(--font-adwaita), ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292a2e;
    --foreground: #f0f1f2;
    --sidebar: #1e1f21;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-adwaita), Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.sidebar {
  background: var(--background);
  color: var(--foreground);
}
