@import "tailwindcss";

:root {
  --background: #faf9f6;
  --foreground: #292a2e;
  --deep-crimson: #96031a;
  --primary-scarlet: #dc0425;
  --carbon-black: rgb(27, 27, 30);
  --dim-grey: #6d676e;
  --off-white: #faf9f6;
  --dark-goldenrod: #b47604;
  --harvest-gold: #dc9104;
  --orange: #faa916;
  --sunflower-gold: #fcc55f;
  --azure-mist: #ebfffa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-sans: var(--font-adwaita), ui-sans-serif, system-ui, sans-serif;
  --shadow-ua1: 0 50px 50px rgba(180, 118, 4, 0.15);
  --shadow-ua2: 0 5px 5px rgb(41, 42, 46);
  --shadow-ua3: 0 10px 5px rgb(27, 27, 30);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292a2e;
    --foreground: #faf9f6;
  }
}
/* html {
  scroll-behavior: smooth;
} */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-adwaita), Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.sidebar {
  background: var(--background);
  color: var(--foreground);
}
